@model  IEnumerable<CPRG102.FinalProject.AssetTracking.ViewModels.HomePagePartialViewModel>

<h3> Assigned Assets </h3>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered"  style="width:600px">
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Type Name
                </th>
                <th>
                    Tag Number
                </th>
                <th>
                    Serial Number
                </th>
                <th>
                    Employee Name
                </th>
                <th>
                    Department Location
                </th>
            </tr>
            @foreach (var asset in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(item => asset.AssetDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(item => asset.AssetTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(item => asset.TagNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(item => asset.SerialNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(item => asset.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(item => asset.DepartmentLocation)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>